* {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

body {
    background-color: hsl(27, 66%, 92%);
}

#app {
    width: 35%;
    margin: auto;
}

.balance-block {
    background: #ec755d;
    border-radius: 10px;
    margin: auto;
    display: flex;
    padding: 10px;
}

.body-balance {
    height: 70px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    color: hsl(27, 66%, 92%);
}

span.body-balance_total {
    font-weight: 700;
    font-size: 45px;
}

.logo-balance {
    display: flex;
    margin-left: auto;
}

.logo-balance > img {
    width: 100%;
}

.main-spend {
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(26, 44%, 94%);
    margin-top: 20px;
}

h2.main-title {
    font-size: 30px;
    font-weight: bold;
    color: hsl(25, 47%, 15%);
}

div#charts {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(28, 10%, 53%);
}

div#charts > div {
    flex: 10%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    position: relative;
    color: hsl(28, 10%, 53%);
}

div#charts > div > div {
    background-color: #ec755d;
    border-radius: 7px;
    width: 70%;
    cursor: pointer;
}

div#charts > div > div.active {
    background: #76b5bc;
}

div#charts > div > div.active:hover{
    background-color: #b4dfe5;
}

div#charts > div > div:hover{
    background-color: hsl(10deg 100% 76%);
}

.amount-tooltip {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    display: block;
    background-color: #353535;
    padding: 7px;
    border-radius: 7px;
    z-index: 1;
}

.bottom-spend {
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
}

.total-spend-block {
    display: flex;
    flex-flow: column;
}

span.total-spend-text {
    color: hsl(28, 10%, 53%);
}

span.total-spend {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    padding-top: 5px;
}

.total-percent-block {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-end;
}

span.percent-spend-text {
    font-weight: 700;
}

@media(max-width: 690px) {
    #app {
        width: 95%;
    }

    h2.main-title {
        font-size: 27px;
    }

    span.total-spend {
        font-size: 43px;
    }
}